[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
sqlalchemy = "*"
flask-sqlalchemy = "*"
configparser = "*"
flask-psycopg2 = "*"
marshmallow = "*"
flask-marshmallow = "*"
requests = "*"
redis = "*"
flask-redis = "*"

[dev-packages]

[requires]
python_version = "3.8"
